@import "../variables";
@import "../global";

#__lpform_la1-name {
  display: none;
}

#Content {
  @media #{$mobile} {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.pr1-wrap{
  width: 100%;
  display: flex;

}
.pr1-lvl1-wrap{
  justify-content: center;

  .left{

  }
  .right{
    margin-left: 10px;
    ul{
      li{
        text-transform: capitalize;
        span{
          font-weight: bold;
        }
      }
    }
  }
}

.pr1-lvl2-wrap{
  flex-direction: column;
  p{
    span{
      font-weight: bold;
    }
  }
}

.pr1-gallery{
  display: flex;
  justify-content: space-between;

  a {

    img {
      height: auto;
      width: auto;
      max-width: 300px;
      max-height: 300px;
    }
  }
}

.pr1-video{
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
  }
}
