
.error-input {
  border: 1px solid #d95c55 !important;
}

.error-box {
  color: #d95c55;
  font-size: 12px;
}

.alert-danger {
  background: #d95c55;
}

.alert-success {
  background: #48c675;
}

.meter {
  display: none;
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #0f8252;
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.heart-box{
  width: 100%;
  position: relative;

  &__heart-small {
    position: absolute;
    width: 63px;
    height: 61px;

    &.rotated {
      transform: rotateY(180deg);
    }

    &.hs1{
      top:95px;
      left: 0;
      transform: scale(0.6) rotateY(180deg);
      animation: hs1 1.5s linear infinite;
    }

    &.hs2{
      top: 15px;
      right: -15px;
      animation: hs2 1.7s linear infinite;
    }

  }

  &__heart-big {
    position: absolute;
    width: 164px;
    height: 159px;

    &.rotated {
      transform: rotateY(180deg);
    }

  }
}

@keyframes hs1 {
  0%, 100% {
    top: 95px;
  }
  50% {
    top: 85px;
  }
}

@keyframes hs2 {
  0%, 100% {
    top: 15px;
  }
  50% {
    top: 5px;
  }
}
