@import "../variables";
@import "../global";

#Top_bar, #Footer {

  .header-special-mobile {
    margin-top: 10px;
    display: none;
    @media #{$mobile} {
      display: flex;
      flex-direction: column;
    }

    &__title{
      color: #c4923f;
      text-align: center;
      font-size: 16px;

    }
  }

  .top_bar_left {
    @media #{$mobile} {
      display: none;
    }

    .logo {
      @media #{$mobile} {
        display: none;
      }
    }
  }

  .header-right-block {

    @media #{$mobile} {
      display: none;
    }

    h1 {
      font-size: 30px;
      text-align: center;
      font-style: italic;
      color: #c4923f;
    }
  }

  .top_bar_left {
    display: flex;
    justify-content: space-between;

    .menu_wrapper {
      .responsive-menu-toggle {
        display: none;

        @media #{$mobile} {
          display: block;
        }
      }
    }

    #menu-menu, #menu-menu-1 {
      display: flex;

      li {
        text-transform: uppercase;
        word-wrap: break-word;
        text-align: center;
        margin: 0 10px;
        font-family: $main-font;
        line-height: 18px;
      }
    }

  }

  .top_bar_left:before {
    content: none;
  }

  .column {
    margin: 0;
  }

  .column:after {
    content: none;
  }
}

.mfn-main-slider {
  margin-bottom: 50px;
}

#Footer {
  border-top: #0931a2 2px solid;
  padding: 15px 0;
}
