@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese");
.la1-notification {
  transition: 0.2s ease-in-out !important;
  min-width: 300px;
  color: white;
  display: flex;
  padding: 20px; }

.error-input {
  border: 1px solid #d95c55 !important; }

.error-box {
  color: #d95c55;
  font-size: 12px; }

.alert-danger {
  background: #d95c55; }

.alert-success {
  background: #48c675; }

.meter {
  display: none;
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden; }

.meter span {
  display: block;
  height: 100%; }

.progress {
  background-color: #0f8252;
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both; }

@keyframes progressBar {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.heart-box {
  width: 100%;
  position: relative; }
  .heart-box__heart-small {
    position: absolute;
    width: 33px;
    height: 32px; }
    .heart-box__heart-small.hs1 {
      top: 110px;
      left: 0;
      animation: upDown 2.3s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-small.hs1 {
          left: 60px; } }
    .heart-box__heart-small.hs8 {
      top: 150px;
      right: 300px;
      animation: upDown 2.9s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-small.hs8 {
          top: 500px; } }
    .heart-box__heart-small.hs10 {
      top: 30px;
      left: 345px;
      z-index: 10;
      animation: upDown 2.9s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-small.hs10 {
          left: 300px; } }
    .heart-box__heart-small.hs14 {
      top: -30px;
      left: 140px;
      z-index: 10;
      animation: upDown 2.9s linear .1s infinite; }
    .heart-box__heart-small.hs15 {
      top: -30px;
      left: 280px;
      z-index: 10;
      animation: upDown 2.9s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-small.hs15 {
          left: 250px; } }
    .heart-box__heart-small.hs17 {
      top: 170px;
      right: 85px;
      z-index: 10;
      animation: upDown 2.7s linear .1s infinite; }
    .heart-box__heart-small.hs19 {
      top: -100px;
      left: 200px;
      z-index: 10;
      animation: upDown 2.7s linear .1s infinite; }
  .heart-box__heart-medium {
    position: absolute;
    width: 63px;
    height: 62px; }
    .heart-box__heart-medium.hs2 {
      top: 15px;
      right: -15px;
      animation: upDown 2.1s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-medium.hs2 {
          top: 0;
          right: 5px; } }
    .heart-box__heart-medium.hs4 {
      top: 150px;
      right: 200px;
      animation: upDown 2.3s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-medium.hs4 {
          top: 300px; } }
    .heart-box__heart-medium.hs5 {
      top: -90px;
      right: 400px;
      z-index: 10;
      animation: upDown 2.6s linear .1s infinite; }
    .heart-box__heart-medium.hs6 {
      top: -185px;
      left: 340px;
      z-index: 10;
      animation: upDown 2.2s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-medium.hs6 {
          display: none; } }
    .heart-box__heart-medium.hs9 {
      top: 0px;
      left: 60%;
      z-index: 10;
      animation: upDown 3s linear .1s infinite; }
    .heart-box__heart-medium.hs11 {
      top: 40px;
      right: 170px;
      z-index: 10;
      animation: upDown 2.4s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-medium.hs11 {
          display: none; } }
    .heart-box__heart-medium.hs12 {
      top: -35px;
      right: 0;
      left: 0;
      margin: 0 auto;
      z-index: 10;
      animation: upDown 2.8s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-medium.hs12 {
          right: 0;
          left: 0;
          margin: 0 auto; } }
    .heart-box__heart-medium.hs16 {
      top: -35px;
      right: 48%;
      z-index: 10;
      animation: upDown 2.8s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-medium.hs16 {
          top: -15px;
          right: 0;
          left: 0;
          margin: 0 auto; } }
  .heart-box__heart-big {
    position: absolute;
    width: 164px;
    height: 159px; }
    .heart-box__heart-big.hs3 {
      top: 10px;
      left: 175px;
      animation: upDown 2.1s linear .1s infinite; }
    .heart-box__heart-big.hs7 {
      top: 200px;
      right: 45%;
      z-index: 10;
      animation: upDown 2.6s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-big.hs7 {
          top: -200px;
          left: 100px; } }
    .heart-box__heart-big.hs13 {
      top: -150px;
      right: 50px;
      z-index: 10;
      animation: upDown 2.3s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-big.hs13 {
          display: none; } }
    .heart-box__heart-big.hs18 {
      top: -150px;
      right: 50px;
      z-index: 10;
      animation: upDown 2.3s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-big.hs18 {
          display: none; } }
    .heart-box__heart-big.hs19 {
      top: 10px;
      left: 175px;
      animation: upDown 2.1s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-big.hs19 {
          display: none; } }

@keyframes upDown {
  0%, 100% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, 6px, 0); } }
.cloak {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #032375;
  transition: .5s ease-in-out; }

.spinner {
  width: 60px;
  height: 60px;
  background-color: #FD8E00;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
.paralax-box {
  position: relative;
  height: 130px;
  background: #292846; }
  .paralax-box__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/wp-content/themes/betheme/_Custom/_static/img/paralax-our-services.png") no-repeat fixed center;
    background-size: cover; }
  .paralax-box__border {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 106px;
    border-top: 2px solid white;
    border-bottom: 2px solid white; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
               supported by Chrome, Opera and Firefox */ }

.social {
  width: 100%; }
  .social .sfsi_wDiv {
    width: 100% !important;
    display: flex;
    justify-content: flex-end; }

body, html {
  overflow-x: visible !important; }

#Subheader {
  display: none; }

#Top_bar .translations-wrapper, #Footer .translations-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
  margin-top: 20px; }
  @media (max-width: 768px) {
    #Top_bar .translations-wrapper, #Footer .translations-wrapper {
      justify-content: center;
      margin-right: 0; } }
  #Top_bar .translations-wrapper a, #Footer .translations-wrapper a {
    margin-left: 10px; }
  #Top_bar .translations-wrapper img, #Footer .translations-wrapper img {
    border-radius: 25px;
    border: 1px solid rgba(184, 184, 184, 0.45); }
#Top_bar .main-translation, #Footer .main-translation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 120px;
  width: 50px;
  z-index: 999; }
  @media (max-width: 768px) {
    #Top_bar .main-translation, #Footer .main-translation {
      left: 0;
      right: 0;
      margin: 0 auto; } }
  #Top_bar .main-translation li span, #Footer .main-translation li span {
    padding: 0 8px;
    margin: 0;
    cursor: pointer;
    font-weight: bolder; }
#Top_bar #menu.active, #Footer #menu.active {
  display: block; }
#Top_bar .header-special-mobile, #Footer .header-special-mobile {
  position: relative;
  margin-top: 10px;
  display: none; }
  @media (max-width: 768px) {
    #Top_bar .header-special-mobile, #Footer .header-special-mobile {
      margin-top: 40px;
      display: flex;
      flex-direction: column; } }
  #Top_bar .header-special-mobile__title, #Footer .header-special-mobile__title {
    color: #c4923f;
    text-align: center;
    font-size: 16px; }
  #Top_bar .header-special-mobile .responsive-menu-toggle, #Footer .header-special-mobile .responsive-menu-toggle {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px; }
@media (max-width: 768px) {
  #Top_bar .top_bar_left, #Footer .top_bar_left {
    display: none; } }
@media (max-width: 768px) {
  #Top_bar .top_bar_left .logo, #Footer .top_bar_left .logo {
    display: none; } }
#Top_bar .top_bar_left .logo .main-logo, #Footer .top_bar_left .logo .main-logo {
  width: 270px;
  height: 122px; }
@media (max-width: 768px) {
  #Top_bar .header-right-block, #Footer .header-right-block {
    display: none; } }
#Top_bar .header-right-block h1, #Footer .header-right-block h1 {
  font-size: 30px;
  text-align: left;
  padding-left: 10%;
  font-style: italic;
  color: #daad20;
  white-space: nowrap; }
#Top_bar .header-right-block .service-dropdown, #Footer .header-right-block .service-dropdown {
  position: relative;
  display: inline-block; }
#Top_bar .header-right-block .service-dropdown-content, #Footer .header-right-block .service-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 199;
  text-transform: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left; }
  #Top_bar .header-right-block .service-dropdown-content a, #Footer .header-right-block .service-dropdown-content a {
    white-space: nowrap;
    padding: 6px 0;
    width: 100%; }
    #Top_bar .header-right-block .service-dropdown-content a:first-letter, #Footer .header-right-block .service-dropdown-content a:first-letter {
      text-transform: capitalize; }
  #Top_bar .header-right-block .service-dropdown-content.up, #Footer .header-right-block .service-dropdown-content.up {
    top: -130px; }
  #Top_bar .header-right-block .service-dropdown-content.up1, #Footer .header-right-block .service-dropdown-content.up1 {
    top: -130px; }
#Top_bar .header-right-block .service-dropdown:hover .service-dropdown-content, #Footer .header-right-block .service-dropdown:hover .service-dropdown-content {
  display: flex; }
#Top_bar .top_bar_left, #Footer .top_bar_left {
  display: flex;
  justify-content: center; }
  #Top_bar .top_bar_left .logo, #Footer .top_bar_left .logo {
    padding-top: 10px; }
  #Top_bar .top_bar_left .menu_wrapper .responsive-menu-toggle, #Footer .top_bar_left .menu_wrapper .responsive-menu-toggle {
    display: none; }
    @media (max-width: 768px) {
      #Top_bar .top_bar_left .menu_wrapper .responsive-menu-toggle, #Footer .top_bar_left .menu_wrapper .responsive-menu-toggle {
        display: block; } }
  #Top_bar .top_bar_left .menu.menu-main, #Footer .top_bar_left .menu.menu-main {
    display: flex; }
    #Top_bar .top_bar_left .menu.menu-main li, #Footer .top_bar_left .menu.menu-main li {
      text-transform: uppercase;
      word-wrap: break-word;
      text-align: center;
      margin: 0 10px;
      font-family: "Comfortaa", sans-serif;
      line-height: 18px; }
      #Top_bar .top_bar_left .menu.menu-main li span, #Footer .top_bar_left .menu.menu-main li span {
        font-size: 12px;
        font-weight: bold; }
#Top_bar .top_bar_left:before, #Footer .top_bar_left:before {
  content: none; }
#Top_bar .column, #Footer .column {
  margin: 0; }
#Top_bar .column:after, #Footer .column:after {
  content: none; }

.mfn-main-slider {
  margin-bottom: 50px;
  position: relative; }

.mfn-main-slider:after, .mfn-main-slider:before {
  content: "";
  background: #ffffff;
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  z-index: 10; }

.mfn-main-slider:after {
  top: 10px; }

.mfn-main-slider:before {
  bottom: 10px; }

#Footer {
  border-top: #0931a2 2px solid;
  padding: 15px 0; }
  #Footer .top_bar_left {
    max-width: 1300px;
    margin: 0 auto; }
  #Footer .logo {
    display: block !important; }
  #Footer #menu-bot ul li a span {
    font-size: 11px; }

.mfn-main-slider .mp1-slider-elem {
  position: absolute;
  width: 570px;
  height: 190px;
  padding: 40px 20px;
  box-sizing: border-box;
  background: rgba(24, 40, 114, 0.86);
  bottom: 60px;
  right: 30px;
  z-index: 10; }
  @media (max-width: 768px) {
    .mfn-main-slider .mp1-slider-elem {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 90%;
      font-size: 14px; } }
  .mfn-main-slider .mp1-slider-elem h2 {
    color: #e48d05;
    font-size: 28px;
    font-style: italic;
    line-height: 30px; }
  .mfn-main-slider .mp1-slider-elem p {
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-style: italic; }
  .mfn-main-slider .mp1-slider-elem .mp1-slider-b-wrap {
    position: absolute;
    right: 10px;
    bottom: -15px;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 768px) {
      .mfn-main-slider .mp1-slider-elem .mp1-slider-b-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        bottom: -100px;
        margin: 0 auto; } }
    .mfn-main-slider .mp1-slider-elem .mp1-slider-b-wrap .mp1-slider-b {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 53px;
      width: 243px;
      box-sizing: border-box;
      color: #ffffff;
      font-size: 14px;
      padding-right: 10px;
      text-decoration: none; }
    .mfn-main-slider .mp1-slider-elem .mp1-slider-b-wrap .mp1-slider-lady {
      background: url("https://tuparejaucraniana.com/wp-content/themes/betheme/_Custom/_static/img/slider-bt-left.png") no-repeat center center;
      margin-right: 10px; }
    .mfn-main-slider .mp1-slider-elem .mp1-slider-b-wrap .mp1-slider-man {
      background: url("https://tuparejaucraniana.com/wp-content/themes/betheme/_Custom/_static/img/slider-bt-right.png") no-repeat center center;
      width: 248px; }

/*# sourceMappingURL=header.css.map */
