@import "../variables";
@import "../global";

body, html {
  overflow-x: visible !important;

}

#Subheader {
  display: none;
}

#Top_bar, #Footer {

  .main-translation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 120px;
    width: 50px;
    z-index: 999;

    @media #{$mobile} {
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    li {

      span {
        padding: 0 8px;
        margin: 0;
        cursor: pointer;
        font-weight: bolder;
      }
    }
  }

  #menu.active {
    display: block;
  }

  .header-special-mobile {
    position: relative;
    margin-top: 10px;
    display: none;
    @media #{$mobile} {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
    }

    &__title {
      color: #c4923f;
      text-align: center;
      font-size: 16px;

    }

    .responsive-menu-toggle {
      position: absolute;

      top: 5px;
      right: 15px;
      font-size: 20px;
    }
  }

  .top_bar_left {
    @media #{$mobile} {
      display: none;
    }

    .logo {

      @media #{$mobile} {
        display: none;
      }

      .main-logo {
        width: 270px;
        height: 122px;
      }
    }
  }

  .header-right-block {

    @media #{$mobile} {
      display: none;
    }

    h1 {
      font-size: 30px;
      text-align: left;
      padding-left: 10%;
      font-style: italic;
      color: #daad20;
      white-space: nowrap;
    }

    .service-dropdown {
      position: relative;
      display: inline-block;
    }

    .service-dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 199;
      text-transform: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;

      a {
        white-space: nowrap;
        padding: 6px 0;
        width: 100%;

        &:first-letter {
          text-transform: capitalize;
        }
      }

      &.up {
        top: -130px;
      }

      &.up1 {
        top: -130px;
      }
    }

    .service-dropdown:hover .service-dropdown-content {
      display: flex;
    }
  }

  .top_bar_left {
    display: flex;
    justify-content: center;

    .logo {
      padding-top: 10px;
    }

    .menu_wrapper {
      .responsive-menu-toggle {
        display: none;

        @media #{$mobile} {
          display: block;
        }
      }
    }

    .menu.menu-main {
      display: flex;

      li {
        text-transform: uppercase;
        word-wrap: break-word;
        text-align: center;
        margin: 0 10px;
        font-family: $main-font;
        line-height: 18px;

        span {
          font-size: 12px;
          font-weight: bold;
        }
      }
    }

  }

  .top_bar_left:before {
    content: none;
  }

  .column {
    margin: 0;
  }

  .column:after {
    content: none;
  }
}

.mfn-main-slider {
  margin-bottom: 50px;
  position: relative;
}

.mfn-main-slider:after, .mfn-main-slider:before {
  content: "";
  background: #ffffff;
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  z-index: 10;
}

.mfn-main-slider:after {
  top: 10px;
}

.mfn-main-slider:before {
  bottom: 10px;
}

#Footer {
  border-top: #0931a2 2px solid;
  padding: 15px 0;

  .top_bar_left {
    max-width: 1300px;
    margin: 0 auto;
  }

  .logo {
    display: block !important;
  }

  #menu-bot {
    ul {
      li {
        a {
          span {
            font-size: 11px;
          }
        }
      }
    }
  }
}

.mfn-main-slider {
  .mp1-slider-elem {
    position: absolute;
    width: 570px;
    height: 190px;
    padding: 40px 20px;
    box-sizing: border-box;
    background: rgba(24, 40, 114, 0.86);
    bottom: 60px;
    right: 30px;
    z-index: 10;

    @media #{$mobile} {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 90%;
      font-size: 14px;
    }

    h2 {
      color: #e48d05;
      font-size: 28px;
      font-style: italic;
      line-height: 30px;
    }

    p {
      color: #ffffff;
      font-size: 18px;
      line-height: 18px;
      font-style: italic;
    }

    .mp1-slider-b-wrap {
      position: absolute;
      right: 10px;
      bottom: -15px;
      display: flex;
      justify-content: flex-end;

      @media #{$mobile} {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        bottom: -100px;
        margin: 0 auto;
      }

      .mp1-slider-b {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 53px;
        width: 243px;
        box-sizing: border-box;
        color: #ffffff;
        font-size: 14px;
        padding-right: 10px;
        text-decoration: none;

      }

      .mp1-slider-lady {
        background: url("/wp-content/themes/betheme/_Custom/_static/img/slider-bt-left.png") no-repeat center center;
        margin-right: 10px;
      }

      .mp1-slider-man {
        background: url("/wp-content/themes/betheme/_Custom/_static/img/slider-bt-right.png") no-repeat center center;
        width: 248px;
      }
    }
  }
}



