@import "../variables";
@import "../global";


.mp1-wrapper{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  .mp1-image-container{
    width: 250px;
    margin-bottom: 10px;

    img{
      width: 100%;
    }
  }
}
