@import "../variables";
@import "../global";


.mp1-wrapper{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  .mp1-lady-container{
    position: relative;
    margin-bottom: 15px;

    .mp1-image-container{
      width: 250px;
      height: 375px;
      background-size: cover!important;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .mp1-image-hover-container{
      transition: all 0.3s ease-in-out;
      position: absolute;
      z-index: 2;
      top:0;
      width: 100%;
      height: 100%;
      display: flex;
      opacity: 0;
      background: rgba(8,16,37,0.8);
      flex-direction: column;
      padding: 10% 10% 50px;
      box-sizing: border-box;
      color: #fff;

      &__name{
        font-weight: bolder;
        font-size: 16px;
      }

      &__divider{
        border-bottom: 4px solid #fff;
        margin-bottom: 15px;
      }
    }
  }

  .mp1-lady-container:hover .mp1-image-hover-container{
    opacity: 0.9;
  }

}
.paginationjs-pages{
  ul {
    display: flex;

    li{
      padding: 0 5px;

      &.active {
        background: #86c0c7;
        border-radius: 2px;
      }
    }
  }
}
.mp1-lower-section{
  display: flex;
  justify-content: space-between;

  #accordion{
   //width: 400px;

    .ui-accordion-header{
      text-align: center;
    }
  }
  #mp1-ds-form{
    display: flex;
  }
}
