@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese");
.error-input {
  border: 1px solid #d95c55 !important; }

.error-box {
  color: #d95c55;
  font-size: 12px; }

.alert-danger {
  background: #d95c55; }

.alert-success {
  background: #48c675; }

.meter {
  display: none;
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden; }

.meter span {
  display: block;
  height: 100%; }

.progress {
  background-color: #0f8252;
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both; }

@keyframes progressBar {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.heart-box {
  width: 100%;
  position: relative; }
  .heart-box__heart-small {
    position: absolute;
    width: 33px;
    height: 32px; }
    .heart-box__heart-small.hs1 {
      top: 110px;
      left: 0;
      animation: upDown 2.3s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-small.hs1 {
          left: 60px; } }
    .heart-box__heart-small.hs8 {
      top: 150px;
      right: 300px;
      animation: upDown 2.9s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-small.hs8 {
          top: 500px; } }
    .heart-box__heart-small.hs10 {
      top: 30px;
      left: 345px;
      z-index: 10;
      animation: upDown 2.9s linear .1s infinite; }
  .heart-box__heart-medium {
    position: absolute;
    width: 63px;
    height: 62px; }
    .heart-box__heart-medium.hs2 {
      top: 15px;
      right: -15px;
      animation: upDown 2.1s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-medium.hs2 {
          top: 0;
          right: 5px; } }
    .heart-box__heart-medium.hs4 {
      top: 150px;
      right: 200px;
      animation: upDown 2.3s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-medium.hs4 {
          top: 300px; } }
    .heart-box__heart-medium.hs5 {
      top: -90px;
      right: 400px;
      z-index: 10;
      animation: upDown 2.6s linear .1s infinite; }
    .heart-box__heart-medium.hs6 {
      top: -185px;
      left: 340px;
      z-index: 10;
      animation: upDown 2.2s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-medium.hs6 {
          display: none; } }
    .heart-box__heart-medium.hs9 {
      top: 0px;
      left: 60%;
      z-index: 10;
      animation: upDown 3s linear .1s infinite; }
    .heart-box__heart-medium.hs11 {
      top: 40px;
      right: 170px;
      z-index: 10;
      animation: upDown 2.4s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-medium.hs11 {
          display: none; } }
  .heart-box__heart-big {
    position: absolute;
    width: 164px;
    height: 159px; }
    .heart-box__heart-big.hs3 {
      top: 10px;
      left: 175px;
      animation: upDown 2.1s linear .1s infinite; }
    .heart-box__heart-big.hs7 {
      top: 200px;
      right: 45%;
      z-index: 10;
      animation: upDown 2.6s linear .1s infinite; }
      @media (max-width: 768px) {
        .heart-box__heart-big.hs7 {
          top: -200px;
          left: 100px; } }

@keyframes upDown {
  0%, 100% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, 6px, 0); } }
.cloak {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #032375;
  transition: .5s ease-in-out; }

.spinner {
  width: 60px;
  height: 60px;
  background-color: #FD8E00;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
#__lpform_ma1-name {
  display: none; }

@media (max-width: 768px) {
  #Content {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.ma1-article {
  letter-spacing: 0;
  margin-bottom: 20px;
  text-align: center; }
  .ma1-article p {
    font-weight: bold; }
  .ma1-article ul {
    list-style: circle;
    margin-left: 40px; }

.ma1-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center; }
  .ma1-wrapper .ma1-comoveas-section h3 {
    text-align: center; }
  .ma1-wrapper .ma1-input-section, .ma1-wrapper .ma1-comoveas-wrap {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .ma1-wrapper .ma1-input-section, .ma1-wrapper .ma1-comoveas-wrap {
        flex-direction: column; } }
    .ma1-wrapper .ma1-input-section__first-box, .ma1-wrapper .ma1-input-section__second-box, .ma1-wrapper .ma1-comoveas-wrap__first-box, .ma1-wrapper .ma1-comoveas-wrap__second-box {
      width: 48%; }
      @media (max-width: 768px) {
        .ma1-wrapper .ma1-input-section__first-box, .ma1-wrapper .ma1-input-section__second-box, .ma1-wrapper .ma1-comoveas-wrap__first-box, .ma1-wrapper .ma1-comoveas-wrap__second-box {
          width: 100%; } }
      .ma1-wrapper .ma1-input-section__first-box input, .ma1-wrapper .ma1-input-section__first-box select, .ma1-wrapper .ma1-input-section__second-box input, .ma1-wrapper .ma1-input-section__second-box select, .ma1-wrapper .ma1-comoveas-wrap__first-box input, .ma1-wrapper .ma1-comoveas-wrap__first-box select, .ma1-wrapper .ma1-comoveas-wrap__second-box input, .ma1-wrapper .ma1-comoveas-wrap__second-box select {
        width: 100%;
        margin-bottom: 0; }
      .ma1-wrapper .ma1-input-section__first-box select, .ma1-wrapper .ma1-input-section__second-box select, .ma1-wrapper .ma1-comoveas-wrap__first-box select, .ma1-wrapper .ma1-comoveas-wrap__second-box select {
        color: gray;
        height: 35px;
        box-sizing: border-box; }
        .ma1-wrapper .ma1-input-section__first-box select option, .ma1-wrapper .ma1-input-section__second-box select option, .ma1-wrapper .ma1-comoveas-wrap__first-box select option, .ma1-wrapper .ma1-comoveas-wrap__second-box select option {
          color: gray; }
      .ma1-wrapper .ma1-input-section__first-box select:active, .ma1-wrapper .ma1-input-section__second-box select:active, .ma1-wrapper .ma1-comoveas-wrap__first-box select:active, .ma1-wrapper .ma1-comoveas-wrap__second-box select:active {
        color: black; }
      .ma1-wrapper .ma1-input-section__first-box textarea, .ma1-wrapper .ma1-input-section__second-box textarea, .ma1-wrapper .ma1-comoveas-wrap__first-box textarea, .ma1-wrapper .ma1-comoveas-wrap__second-box textarea {
        width: 100%;
        margin-bottom: 0; }
      .ma1-wrapper .ma1-input-section__first-box .error-box, .ma1-wrapper .ma1-input-section__second-box .error-box, .ma1-wrapper .ma1-comoveas-wrap__first-box .error-box, .ma1-wrapper .ma1-comoveas-wrap__second-box .error-box {
        height: 20px;
        display: block;
        margin-bottom: 5px; }
  .ma1-wrapper .ma1-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; }
    @media (max-width: 768px) {
      .ma1-wrapper .ma1-bottom-section {
        flex-direction: column; } }
    .ma1-wrapper .ma1-bottom-section .ma1-terms-box {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 15px;
      flex-direction: column;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 13px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .ma1-wrapper .ma1-bottom-section .ma1-terms-box:hover input ~ .checkmark {
        background-color: #ccc; }
      .ma1-wrapper .ma1-bottom-section .ma1-terms-box input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
        .ma1-wrapper .ma1-bottom-section .ma1-terms-box input:checked ~ .checkmark {
          background-color: #010413; }
          .ma1-wrapper .ma1-bottom-section .ma1-terms-box input:checked ~ .checkmark:after {
            display: block; }
      .ma1-wrapper .ma1-bottom-section .ma1-terms-box .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border: 1px solid black; }
        .ma1-wrapper .ma1-bottom-section .ma1-terms-box .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
    .ma1-wrapper .ma1-bottom-section .ma1-submit {
      width: 400px;
      margin-top: 20px; }
      @media (max-width: 768px) {
        .ma1-wrapper .ma1-bottom-section .ma1-submit {
          margin-top: 15px;
          width: 95%;
          margin-right: 0 !important; } }
      .ma1-wrapper .ma1-bottom-section .ma1-submit:disabled {
        background: gray !important;
        border: 1px solid gray !important;
        cursor: not-allowed; }
        .ma1-wrapper .ma1-bottom-section .ma1-submit:disabled:hover {
          background: gray !important; }
  @media (max-width: 768px) {
    .ma1-wrapper .qq-uploader-selector {
      width: 90%; } }
  .ma1-wrapper .qq-gallery .qq-upload-button {
    border-color: #081025;
    background: #fff !important;
    color: #081025 !important; }
  .ma1-wrapper .qq-gallery .qq-upload-button:hover {
    background-color: #081025 !important;
    color: #ffffff !important; }

.ma1-notification {
  transition: 0.2s ease-in-out !important;
  min-width: 300px;
  color: white;
  display: flex;
  padding: 20px; }

.ma1-input {
  border: 1px solid transparent; }

/*# sourceMappingURL=men.css.map */
