@import "../variables";
@import "../global";

.me1-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', Arial, sans-serif;
}

.me1_input_section{
  display: flex;
  justify-content: center;
  align-items: center;

  &__first-box, &__second-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%;

    input, textarea{
      padding: 5px;
      margin:5px;
      width: 100%;
    }
    label{
      font-size: 16px;
      font-weight: bold;
    }
  }
}
.me1_photo_section{
  display: flex;

  img{
    max-width: 400px;
    margin: 5px;

    &.main-image{
      border:3px solid orange;
    }
  }
}
.me1_bottom_section{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  button{
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: #cecece;
    outline: none;
    border: 1px solid transparent;
    transition: .2s ease-in-out;
  }

  button:hover{
    background: white;
    color:black;
    border: 1px solid black;
  }

  button:active{
  transform: scale(.95);
  }

  &__button-save{
    background: #0c6856;
  }

  &__button-activate{
    background: #1f5168;
  }

  &__button-delete{
    background: #682e37;
  }
}
