@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese");
.error-input {
  border: 1px solid #d95c55 !important; }

.error-box {
  color: #d95c55;
  font-size: 12px; }

.alert-danger {
  background: #d95c55; }

.alert-success {
  background: #48c675; }

.meter {
  display: none;
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden; }

.meter span {
  display: block;
  height: 100%; }

.progress {
  background-color: #0f8252;
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both; }

@keyframes progressBar {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.heart-box {
  width: 100%;
  position: relative; }
  .heart-box__heart-small {
    position: absolute;
    width: 33px;
    height: 32px; }
    .heart-box__heart-small.hs1 {
      top: 110px;
      left: 0;
      animation: upDown 2.3s linear .1s infinite; }
  .heart-box__heart-medium {
    position: absolute;
    width: 63px;
    height: 62px; }
    .heart-box__heart-medium.hs2 {
      top: 15px;
      right: -15px;
      animation: upDown 2.1s linear .1s infinite; }
    .heart-box__heart-medium.hs4 {
      top: 150px;
      right: 200px;
      animation: upDown 2.3s linear .1s infinite; }
    .heart-box__heart-medium.hs5 {
      top: -90px;
      right: 400px;
      z-index: 10;
      animation: upDown 2.6s linear .1s infinite; }
  .heart-box__heart-big {
    position: absolute;
    width: 164px;
    height: 159px; }
    .heart-box__heart-big.hs3 {
      top: 10px;
      left: 175px;
      animation: upDown 2.1s linear .1s infinite; }

@keyframes upDown {
  0%, 100% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, 6px, 0); } }
.le1-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', Arial, sans-serif; }

.le1_input_section {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .le1_input_section__first-box, .le1_input_section__second-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%; }
    .le1_input_section__first-box input, .le1_input_section__first-box textarea, .le1_input_section__second-box input, .le1_input_section__second-box textarea {
      padding: 5px;
      margin: 5px;
      width: 100%; }
    .le1_input_section__first-box label, .le1_input_section__second-box label {
      font-size: 16px;
      font-weight: bold; }
  .le1_input_section .le1-name-container {
    display: flex;
    justify-content: space-between; }
    .le1_input_section .le1-name-container div {
      display: flex;
      flex-direction: column; }

.le1_photo_section {
  display: flex; }
  .le1_photo_section img {
    max-width: 200px;
    margin: 5px; }
    .le1_photo_section img.main-image {
      border: 3px solid orange; }

.le1_bottom_section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .le1_bottom_section button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: #cecece;
    outline: none;
    border: 1px solid transparent;
    transition: .2s ease-in-out; }
  .le1_bottom_section button:hover {
    background: white;
    color: black;
    border: 1px solid black; }
  .le1_bottom_section button:active {
    transform: scale(0.95); }
  .le1_bottom_section__button-save {
    background: #0c6856; }
  .le1_bottom_section__button-activate {
    background: #1f5168; }
  .le1_bottom_section__button-delete {
    background: #682e37; }

/*# sourceMappingURL=ladiesEdit.css.map */
