.error-input {
  border: 1px solid #d95c55 !important; }

.error-box {
  color: #d95c55;
  font-size: 12px; }

.alert-danger {
  background: #d95c55; }

.alert-success {
  background: #48c675; }

.meter {
  display: none;
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden; }

.meter span {
  display: block;
  height: 100%; }

.progress {
  background-color: #0f8252;
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both; }

@keyframes progressBar {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
#__lpform_la1-name {
  display: none; }

@media (max-width: 768px) {
  #Content {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.la1-article {
  letter-spacing: 0;
  margin-bottom: 20px; }
  .la1-article p {
    font-weight: bold; }
  .la1-article ul {
    list-style: circle;
    margin-left: 40px; }

.la1-wrapper {
  display: flex;
  flex-direction: column; }
  .la1-wrapper .la1-input-section {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .la1-wrapper .la1-input-section {
        flex-direction: column; } }
    .la1-wrapper .la1-input-section__first-box, .la1-wrapper .la1-input-section__second-box {
      width: 48%; }
      @media (max-width: 768px) {
        .la1-wrapper .la1-input-section__first-box, .la1-wrapper .la1-input-section__second-box {
          width: 100%; } }
      .la1-wrapper .la1-input-section__first-box input, .la1-wrapper .la1-input-section__second-box input {
        width: 100%;
        margin-bottom: 0; }
      .la1-wrapper .la1-input-section__first-box textarea, .la1-wrapper .la1-input-section__second-box textarea {
        width: 100%;
        margin-bottom: 0; }
      .la1-wrapper .la1-input-section__first-box .error-box, .la1-wrapper .la1-input-section__second-box .error-box {
        height: 20px;
        display: block;
        margin-bottom: 5px; }
  .la1-wrapper .la1-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; }
    @media (max-width: 768px) {
      .la1-wrapper .la1-bottom-section {
        flex-direction: column; } }
    .la1-wrapper .la1-bottom-section #la1-fake-file-input {
      margin: 0; }
    .la1-wrapper .la1-bottom-section #la1-fileName-text {
      max-width: 100px;
      word-wrap: break-word;
      font-size: 10px;
      margin-left: -60px; }
      @media (max-width: 768px) {
        .la1-wrapper .la1-bottom-section #la1-fileName-text {
          margin: 0;
          max-width: 98%; } }
    .la1-wrapper .la1-bottom-section .la1-video-upload {
      display: none; }
    .la1-wrapper .la1-bottom-section .la1-submit {
      width: 400px; }
      @media (max-width: 768px) {
        .la1-wrapper .la1-bottom-section .la1-submit {
          margin-top: 15px;
          width: 95%;
          margin-right: 0 !important; } }
      .la1-wrapper .la1-bottom-section .la1-submit:disabled {
        background: gray !important;
        border: 1px solid gray !important;
        cursor: not-allowed; }
        .la1-wrapper .la1-bottom-section .la1-submit:disabled:hover {
          background: gray !important; }
  @media (max-width: 768px) {
    .la1-wrapper .qq-uploader-selector {
      width: 90%; } }
  .la1-wrapper .qq-gallery .qq-upload-button {
    border-color: #081025;
    background: #fff !important;
    color: #081025 !important; }
  .la1-wrapper .qq-gallery .qq-upload-button:hover {
    background-color: #081025 !important;
    color: #ffffff !important; }

.la1-notification {
  transition: 0.2s ease-in-out !important;
  min-width: 300px;
  color: white;
  display: flex;
  padding: 20px; }

.la1-input {
  border: 1px solid transparent; }

/*# sourceMappingURL=ladies.css.map */
