@import "../variables";
@import "../global";

.le1-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', Arial, sans-serif;
}

.le1_input_section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__first-box, &__second-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%;

    input, textarea {
      padding: 5px;
      margin: 5px;
      width: 100%;
    }

    label {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .le1-name-container, .le1-color-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

    div {
      display: flex;
      flex-direction: column;
      width: 50%;

      input {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

.le1_photo_section {
  display: flex;

  div, button, a {

    &:focus {
      outline: none!important;
      border: none!important;
      border-inline: 0!important;
      text-decoration: none!important;
      box-shadow: none !important;
    }
  }

  .image-wrap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    button {
      margin-bottom: 20px;
      outline: none;
      width: 150px;
      height: 30px;
      cursor: pointer;
      color: white;
      border: 1px solid transparent;
      transition: .2s ease-in-out;

      &.change-main-image {
        background: orange;
      }

      &.delete-image {
        background: #682e37;
      }

      &:hover {
        background: #ccc;
        color: black;
        border: 1px solid black;
      }
    }

    img {
      height: auto;
      width: auto;
      max-width: 300px;
      max-height: 300px;
      margin: 10px;
      outline: none;
      border: 3px solid transparent;

      &.main-image {
        border: 3px solid orange;
      }
    }
  }
}

.le1_bottom_section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: #cecece;
    outline: none;
    border: 1px solid transparent;
    transition: .2s ease-in-out;
  }

  button:hover {
    background: #ccc;
    color: black;
    border: 1px solid black;
  }

  button:active {
    transform: scale(.95);
  }

  &__button-save {
    background: #0c6856;
  }

  &__button-translate {
    background: #1f5168;
  }

  &__button-delete {
    background: #682e37;
  }
}

.translate-value {
  text-transform: capitalize;
}

.lb-next, .lb-prev {
  &:focus {
    outline: none!important;
    border: none!important;
    border-inline: 0!important;
    text-decoration: none!important;
    box-shadow: none !important;
  }
}

.le1-video-section{
  max-width: 400px;
  max-height: 400px;

  .delete-video{
    width: 150px;
    height: 30px;
    background: #682e37;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
    transition: .2s ease-in-out;

    &:hover {
      background: #ccc;
      color: black;
      border: 1px solid black;
    }
  }
}

.le1-upload-video-section{
  .le1-video-upload {
    display: none;
  }

  #le1-fake-file-input{
    width: 150px;
    height: 30px;
    background: #00abc7;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
    transition: .2s ease-in-out;
  }
}

