@import "../variables";
@import "../global";

#__lpform_la1-name {
  display: none;
}

#Content {
  @media #{$mobile} {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.la1-article {
  letter-spacing: 0;
  margin-bottom: 20px;

  p {
    font-weight: bold;
  }

  ul {
    list-style: circle;
    margin-left: 40px;
  }
}

.la1-wrapper {
  display: flex;
  flex-direction: column;

  .la1-input-section {
    display: flex;
    justify-content: space-between;

    @media #{$mobile} {
      flex-direction: column;
    }

    &__first-box, &__second-box {
      width: 48%;

      @media #{$mobile} {
        width: 100%;
      }


      input {
        width: 100%;
        margin-bottom: 0;
      }

      textarea {
        width: 100%;
        margin-bottom: 0;
      }

      .error-box {
        height: 20px;
        display: block;
        margin-bottom: 5px;
      }

      .la1-name-container{
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .la1-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    @media #{$mobile} {
      flex-direction: column;
    }

    #la1-fake-file-input{
      margin: 0;
    }

    #la1-fileName-text{
      max-width: 100px;
      word-wrap: break-word;
      font-size: 10px;
      margin-left: -60px;

      @media #{$mobile} {
        margin: 0;
        max-width: 98%;
      }
    }

    .la1-video-upload {
      display: none;
    }

    .la1-submit {
      width: 400px;

      @media #{$mobile} {
        margin-top: 15px;
        width: 95%;
        margin-right: 0 !important;
      }

      &:disabled {
        background: gray !important;
        border: 1px solid gray !important;
        cursor: not-allowed;

        &:hover {
          background: gray !important;
        }
      }
    }
  }

  .qq-uploader-selector {
    @media #{$mobile} {
      width: 90%;
    }
  }

  .qq-gallery .qq-upload-button {
    border-color: #081025;
    background: #fff !important;
    color: #081025 !important;
  }

  .qq-gallery .qq-upload-button:hover {
    background-color: #081025 !important;
    color: #ffffff !important;
  }
}

.la1-notification {
  transition: 0.2s ease-in-out !important;
  min-width: 300px;
  color: white;
  display: flex;
  padding: 20px;
}

.la1-input {
  border: 1px solid transparent;
}
