@import "../global";

.cf1-wrapper {

  &-image {

    img {
      height: 700px;
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;

    .text-block {
      width: 50%;

      .title-block {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }

    .form-block {
      width: 50%;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      input, textarea {
        border: 1px solid rgba(0,0,0,.08);
        width: 100%;
        margin: 0;
      }

      .name-email-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__item{
          display: flex;
          flex-direction: column;
          width: 49%;

          input {
            width: 100%;
          }
        }

      }
      .error-box {
        height: 25px;
      }

      button {
        width: 200px;
        margin: 0;
      }

      .captcha-block{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
